---
import Layout from "../../layouts/Layout.astro";
import fetchApi from "../../lib/strapi.ts";
import type Projects from "../../interfaces/projects.ts";
import { YouTube } from "astro-embed";


export async function getStaticPaths({}) {
    const articles: Array<Projects> = await fetchApi({
        endpoint: "projects?populate=image", // the content type to fetch
        wrappedByKey: "data", // the key to unwrap the response
    });

    return articles.map((article: any) => ({
        params: { slug: article.attributes.slug },
        props: article,
    }));
}

const project = Astro.props;
---

<Layout title="Detail">
    <div class="bg-white px-6 py-32 lg:px-8">
        <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
            <p class="text-base font-semibold leading-7 text-green-600">
                <!-- Introducing -->
            </p>
           
            <!-- <div class="relative">
                <img
                    class="aspect-[2/3] w-full rounded-2xl object-cover"
                    src={`https://app.slmsolar.com${project.attributes.image.data.attributes.formats.large.url}`}
                               alt={project.attributes.title}
                />
                <button
                    type="button"
                    class="absolute right-4 bottom-4 inline-flex items-center gap-x-1.5 rounded-md bg-bg-white-500 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600"
                >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
                  </svg>
                  {project.attributes.vi_tri}
                </button>
                <a
                        
                        href={`https://www.youtube.com/watch?v=${project.attributes.youtube_id}`}                                target="_blank"
                        rel="noopener noreferrer"
                    >
                <button
                    type="button"
                    class="absolute left-4 bottom-4 inline-flex items-center gap-x-1.5 rounded-md bg-green-500 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="size-5"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M2 10a8 8 0 1 1 16 0 8 8 0 0 1-16 0Zm6.39-2.908a.75.75 0 0 1 .766.027l3.5 2.25a.75.75 0 0 1 0 1.262l-3.5 2.25A.75.75 0 0 1 8 12.25v-4.5a.75.75 0 0 1 .39-.658Z"
                            clip-rule="evenodd"></path>
                    </svg>
                    Xem video
                </button>
            </a>
            </div> -->
            <h1
                class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
            >
                {project.attributes.title}
            </h1>
            <YouTube id={`${project.attributes.youtube_id}`}       />
            <p class="mt-6 text-xl leading-8">
                <div set:html={project.attributes.Content} />
            </p>

        </div>
    </div>
</Layout>
